@media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
    .text {
      margin: 30px 5px;
      font-size: 24px;
      color: gray;
    }
    
    .text>p {
      text-align: center;
    }

    .sop-img >img{
      margin-left: 0px ;
      width: 100px;
      height: 100px;
  }
  }
  