@media screen and (max-width: 420px) {
  .heads>.head1 {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 14px;
    line-height: 92%;
    margin: 10px;
    text-shadow: 2px 2px 2px rgb(102, 101, 101);
    font-weight: bold;
  }
  /* banner starts */
.carousel-inner> .carousel-item{
  height: 100%;
  }
  .wrapper nav {
    padding: 0 10px;
  }
  .logo img {
    width: 170px;
    height: 60px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }

  .text {
    margin: 10px 5px;
    font-size: 24px;
    color: gray;
  }
  .text>p {
    text-align: center;
  }
  .sub-head{
    font-size: 26px;
  }
  .butn {
    border: gray double 5px;
    border-radius: 100px;
    width: 100%;
    padding: 10px 20px;
    transition: width 1s;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}